<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
		<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="8e1822ec-0e39-4257-b570-fcdd24c1e004" >
		<salesforce:basic-connection username="${salesforce.username}" password="${secure::salesforce.password}" securityToken="${secure::salesforce.token}" />
	</salesforce:sfdc-config>
	<global-property doc:name="Global Property" doc:id="16779bef-7387-41a4-8622-c7455bea2ece" name="encryptKey" value="!A%D*G-KaPdSgVkY" />
	<configuration-properties doc:name="Configuration properties" doc:id="d747178a-b431-48fd-a73e-f566117db291" file="${env}.yaml" />
	<global-property doc:name="Global Property" doc:id="4b594ac7-3ae5-42cd-81d3-92c774deabe8" name="env" value="dev" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="2fb6bfbb-ee9d-427e-b258-c44c8d6779bd" file="${env}-secure.yaml" key="${encryptKey}" />
	
	</mule>
